

.phpactor.json
/.fleet
/.idea
/.nova

/.zed
/auth.json

Homestead.json
Homestead.yaml


```
# Dependencies
/vendor
/composer.lock
/node_modules



# Laravel specific
/bootstrap/cache/
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Environment
.env
.env.local
.env.*

# Logs
*.log

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
phpunit.result.cache
/.phpunit.cache
```
